* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #D3D3D3;
}

#page-title {
    background-color: #806BDC;
    color: #fff;
    text-align: center;
    padding: 16px;
    font-size: 2rem;
    position: sticky;
    top: 0;
    left: 0;
}

#header-items-container {
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: space-evenly;
    gap: 5em;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.nav-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}



.nav-image {
    width: 100%;
    max-width: 130px;
}

.nav-item-text {
    font-size: 1.4em;
    font-weight: 800;
    cursor: pointer;
    justify-self: end;
    word-wrap: break-word;
}

.nav-item-text:hover {
    color: #806BDC;
}


#hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-image {
    width: 100%;
    max-width: 90vw;
}

#sales-section-text {
    font-size: 32px;
    text-align: center;
    margin: 40px auto 10px auto;
}

table {
    border-collapse: collapse;
    font-size: 24px;
    width: 100%;
    max-width: 90vw;
    margin: auto;
}

.discount-per {
    text-decoration: line-through;
}

th {
    background-color: #806BDC;
    color: #fff;
}

tr,
td,
th {
    border: 1px solid #212121;
    padding: 8px;
}

#store-dets {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

#store-details-section {
    width: 100%;
    max-width: 90vw;
    margin: 40px auto 10px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#about-store-text {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 8px;
}

.about-para {
    font-size: 20px;
    letter-spacing: 1.7;
    text-align: justify;
    line-height: 1.4;
    font-weight: 500;
}

.about-sub-heading {
    font-size: 24px;
    font-weight: 800;
    margin-top: 8px;
    margin-bottom: 4px;
}

.fav-listed {
    margin-top: 18px;
    list-style-position: inside;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7;
}

footer {
    background-color: #212121;
    color: #fff;
    padding: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}