.card {
    background-color: hotpink;
    color: black;
    display: inline-flex;
    width: 150px;
    height: 150px;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 100px;
    cursor: pointer;

    margin: 12px;
}